<ion-header>
  <ion-toolbar>
   <!-- <ion-title>login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content class="masters">

<ion-card>
  <ion-card-header class="center">
   <!--
    <ion-avatar class='avatar' >
      <img src="../../assets/img/logo.jpg">
    </ion-avatar>
   -->
    <ion-img  src="../../assets/img/logo.jpg"></ion-img>

  </ion-card-header>
  <ion-card-content class="masters">
  <form [formGroup]="ionicForm" (ngSubmit)="login()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input formControlName="username" type="text"> </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="Password"> </ion-input>
       
      </ion-item>
      <ion-label class="forgot"> <p><a routerLink="/forgotpassword">Forgot Password ?</a></p></ion-label>
     
      <ion-button type="submit" expand="block" shape="round" >Sign In</ion-button>
     
      
     
       <ion-item lines="none">
       
        <p text-wrap >New User?&nbsp;&nbsp;<a routerLink="/signup">Create Account</a> </p>
        
       </ion-item>
       


    </ion-list>
</form>
  </ion-card-content>
</ion-card>

<!--
  <div class="center">

 
  <h1>Sign In</h1>
</div>
  <form class="masters">
    
   
    
  </form>
  -->

</ion-content>
