<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Booking History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label >Booking Status</ion-label>
    <ion-select  value="ALL" (ionChange)="selectStatus($event)" interface="popover" placeholder="Select One">
      <ion-select-option  *ngFor="let booking of bookingStatus"   [value]="booking.value">{{booking.key}}</ion-select-option>
   
    </ion-select>
  </ion-item>


  <!-----home page content-->
  <ion-item *ngFor="let booking of bookingList" (click)="gotoBookingDetail(booking)" detail>
    <ion-list>
     

      <ion-item lines="none">

        
        <ion-avatar slot="start">
          <img src="{{booking.sender_user_profile}}">
        </ion-avatar>
        
        <ion-label>
          
          <ion-grid>
            <ion-row>

              <ion-col><div class='name'>{{booking.sender_name}}</div></ion-col>
             
            </ion-row>

            <ion-row>
              <ion-col><div>Profession(my skill):</div></ion-col>
              <ion-col><div>{{booking.sender_category_name}}</div></ion-col>
              
            </ion-row>

            <ion-row>
              <ion-col><div>Mobile No:</div></ion-col>
              <ion-col><div>{{booking.sender_user_mobile}}</div></ion-col>
              
            </ion-row>
            
            <!--
            <ion-row>
              <ion-col><div>Comments:</div></ion-col>
              <ion-col><div>{{booking.orders_comments}}</div></ion-col>
              
            </ion-row>
            -->
            
          </ion-grid>
        
        </ion-label>
      </ion-item>

    </ion-list>

  </ion-item>


  

<!----page content-->
  
</ion-content>
