<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pending Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="primary" class="background"> 

    <ion-item lines="none">
      
      
      
      <ion-label>
        
        <ion-grid>
          <ion-row>
            <ion-col class="startColwidth" ></ion-col>
            <ion-col><div>Name:</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>
 
          <ion-row >
            <ion-col class="startColwidth" ></ion-col>
            <ion-col><div>Category:</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="startColwidth"></ion-col>
            <ion-col><div>Distance:</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="startColwidth"></ion-col>
            <ion-col ><div>Address</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>

          
        </ion-grid>
         

        <ion-grid>
         
          <ion-row class="action">
            <ion-col ></ion-col>
            <ion-col >
              <ion-chip color="success">
              <ion-icon name="checkmark-circle"></ion-icon>
              <ion-label>Accept</ion-label>
            </ion-chip>
          </ion-col>
            <ion-col>
              <ion-chip color="danger">
                <ion-icon name="close"></ion-icon>
                <ion-label>Reject</ion-label>
              </ion-chip>
  
            </ion-col>
            <ion-col ></ion-col>
          </ion-row>

        </ion-grid>
        
        
      
      </ion-label>
    </ion-item>

    
  </ion-card>


  <ion-card color="primary" class="background"> 

    <ion-item lines="none">
      
      
      
      <ion-label>
        
        <ion-grid>
          <ion-row>
            <ion-col class="startColwidth" ></ion-col>
            <ion-col><div>Name:</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>
 
          <ion-row >
            <ion-col class="startColwidth" ></ion-col>
            <ion-col><div>Category:</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="startColwidth"></ion-col>
            <ion-col><div>Distance:</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="startColwidth"></ion-col>
            <ion-col ><div>Address</div></ion-col>
            <ion-col><div>Address</div></ion-col>
            <ion-col class="endcolwidth" ></ion-col>
          </ion-row>

          
        </ion-grid>
         

        <ion-grid>
         
          <ion-row class="action">
            <ion-col ></ion-col>
            <ion-col >
              <ion-chip color="success">
              <ion-icon name="checkmark-circle"></ion-icon>
              <ion-label>Accept</ion-label>
            </ion-chip>
          </ion-col>
            <ion-col>
              <ion-chip color="danger">
                <ion-icon name="close"></ion-icon>
                <ion-label>Reject</ion-label>
              </ion-chip>
  
            </ion-col>
            <ion-col ></ion-col>
          </ion-row>

        </ion-grid>
        
        
      
      </ion-label>
    </ion-item>

    
  </ion-card>


</ion-content>
