
<ion-content>
  <ion-tabs>
  
  <ion-tab-bar slot="bottom">
  <ion-tab-button tab="adminhome">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home Screen</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="custtab">
    <ion-icon name="people-outline"></ion-icon>
    <ion-label>Customer Details</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="feedbacktab">
    <ion-icon name="briefcase-outline"></ion-icon>
    <ion-label>Feedback</ion-label>
  </ion-tab-button>
  
  </ion-tab-bar>
  
  </ion-tabs>
  </ion-content>
