<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     
      <ion-card-title>Vendor Details</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-avatar class='avatar' >
          <ion-img [src]="profileImg"></ion-img>
      </ion-avatar>
      
      

      <ion-grid>
        <ion-row>
          <ion-col><div>Name:</div></ion-col>
          <ion-col><div>{{name}}</div></ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col><div>Mobile:</div></ion-col>
          <ion-col><div>{{user_mobile}}</div></ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col><div>Email:</div></ion-col>
          <ion-col><div>{{user_email}}</div></ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col><div>Gender:</div></ion-col>
          <ion-col><div>{{user_gender}}</div></ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col><div>Alternate Mobile:</div></ion-col>
          <ion-col><div>{{user_altmobile}}</div></ion-col>
      
        </ion-row>

        <ion-row>
          <ion-col><div>Skills:</div></ion-col>
          <ion-col><div>{{user_proffesion}}</div></ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col><div>Distance:</div></ion-col>
          <ion-col><div>{{user_distance}}</div></ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col><div>Working Since:</div></ion-col>
          <ion-col><div>{{user_addedon}}</div></ion-col>
          
        </ion-row>

        <ion-row>
          <ion-col><div>Current Address:</div></ion-col>
          <ion-col><div>{{user_currentaddress}}</div></ion-col>
          
        </ion-row>

      </ion-grid>


      <ion-item >
        <!--<ion-label position="floating" class="mandatory">Comments</ion-label>-->
        <ion-textarea [(ngModel)]='comments'  placeholder="Enter your Comments here..."></ion-textarea>
      </ion-item>
  
      <ion-button (click)="submitBooking()" type="button" expand="block">Book</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
