ion-label
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 5px; font-style: normal; font-variant: normal;
 
}
ion-item
{
    color:black;
}
div
{
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-style: normal; font-variant: normal;
}
ion-grid
{
    --ion-grid-padding:0px;
}
ion-row
{
    height:15px;
}

 .startColwidth
 {
    min-width: 30px;
 }

 .endcolwidth
 {
    min-width: 24%;
 }
 .action
 {
     height:50px;
 }

 .background
 {
    background-color: slategray !important;
 }

 ion-icon
 {
    width: 50px;
    height: 27px;
 }

 ion-item
{
    color:black;
}
div
{
    font-size: 10px;
}
ion-grid
{
    --ion-grid-padding:0px;
}
ion-row
{
    height:20px;
}

.name
{
    font-weight: bold;
    font-size: 20px;
    
}

div
{
    font-size: 15px;
}

.badge-one {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 5px;
    --padding-end: 5px;
  }
  
  .badge-two {
    position: absolute;
    top: 0px;
    right: -5px;
    font-size: 0.6em;
    --padding-start: 3px;
    --padding-end: 3px;
  }