  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="pendingorder">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="vendorsearch">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="orderhistory">
        <ion-icon name="git-pull-request"></ion-icon>
        <ion-label>Order History</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="bookinghistory">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Booking History</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

