<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary">Pending Jobs</ion-button>
  <ion-button color="secondary">Progress</ion-button>
  <ion-button color="tertiary">Completed</ion-button>
  <ion-button color="tertiary">Cancelled</ion-button>
</ion-content>
