<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="signUpCard">
    <ion-card-header class="center">
      Profile
    </ion-card-header>
    <ion-card-content>
      <ion-avatar class='avatar' >
        
        <ion-img [src]="picToView"></ion-img>
      </ion-avatar>
      <ion-chip (click)="enableEditMode()"color="secondary">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-chip>
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

        <ion-item >
          <ion-label position="floating" class="mandatory">Full Name</ion-label>
          <ion-input [disabled]="disabled" formControlName="name" type="text"> </ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
          Name is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
          Name should be atleast 4 charecter.
        </span>

        <ion-item>
          <ion-label position="stacked" class="mandatory">Mobile Number</ion-label>
          <ion-input [disabled]="true" formControlName="mobileNo" type="tel" maxlength="10"> </ion-input>
        </ion-item>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobileNo.errors?.required">
          Please enter mobile number
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobileNo.errors?.minlength">
          Please enter valid mobile number
        </span>

       
       

        <ion-item>
          <ion-label position="stacked" class="mandatory">Alt Mobile</ion-label>
          <ion-input [disabled]="disabled" formControlName="altMobileNo" type="tel" maxlength="10"> </ion-input>
        </ion-item>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.altMobileNo.errors?.required">
          Please enter alteranet mobile number
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.altMobileNo.errors?.minlength">
          Please enter valid mobile number
        </span>

        <ion-item>
          <ion-label position="stacked" class="mandatory">Email</ion-label>
          <ion-input [disabled]="true" formControlName="email" type="email"> </ion-input>
        </ion-item>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Please enter your Email id.
        </span>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Please enter valid Email Id
        </span>


        <!--
        <ion-item>
          <ion-label position="stacked" class="mandatory">Category</ion-label>
          
          <ion-select [disabled]="disabled" formControlName="category" placeholder="Select One">
            <ion-select-option value="Student">Customer</ion-select-option>
            <ion-select-option value="Faculty">Vendor</ion-select-option>
           
          </ion-select>
        </ion-item>
      -->
      <ion-item>
        <ion-label position="stacked" class="mandatory">Profession (My Skill)</ion-label>
        <ion-select [disabled]="disabled" (ionChange)="selectCategory($event)" formControlName="category" placeholder="Select One">
          <ion-select-option  *ngFor="let category of categoryList"   [value]="category.categoryid">{{category.cat_name}}</ion-select-option>
       
        </ion-select>
       
      </ion-item>


      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.category.errors?.required">
        Please select profession
      </span>

      <ion-item *ngIf="enableOther">
        <ion-label position="stacked" class="mandatory">Enter Your Skill</ion-label>
        <ion-input formControlName="profession" type="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="mandatory">Gender</ion-label>
        <ion-select [disabled]="disabled" formControlName="gender" placeholder="Select One">
          <ion-select-option value="FEMALE">Female</ion-select-option>
          <ion-select-option value="MALE">Male</ion-select-option>
          
        </ion-select>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.gender.errors?.required">
        Please select gender
      </span>

        <ion-item>
          <ion-label  position="stacked" class="mandatory">Marital Status</ion-label>
          <ion-select [disabled]="disabled"  formControlName="maritalStatus" placeholder="Select One">
            <ion-select-option value="SINGLE">Single</ion-select-option>
            <ion-select-option value="MARRIED">Married</ion-select-option>
          </ion-select>
        </ion-item>

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.maritalStatus.errors?.required">
          Please select Marital status
        </span>

       
        <ion-item >
          <ion-label position="stacked" class="mandatory">Current Address</ion-label>
           
          <ion-input [disabled]="disabled" id="txtHome" [(ngModel)]="test"  [formControl]="searchControl" formControlName="currentAddress" type="text"> </ion-input>
        
        <!--<ion-input id="txtHome" formControlName="autoAddress" type="text"> </ion-input>-->
        </ion-item>


        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.currentAddress.errors?.required">
          Please type your address
        </span>
        
       <!--
        <ion-item >
          <ion-label position="stacked" class="mandatory">Auto Address</ion-label>
           
          <ion-input id="txtHome" [disabled]="disabled"  [formControl]="searchControl" formControlName="autoAddress" type="text"> </ion-input>
        
        <ion-input id="txtHome" formControlName="autoAddress" type="text"> </ion-input>
        </ion-item>
      -->

      <ion-item [disabled]="disabled" lines="none">

        <ion-label [disabled]="disabled" slot="start" position="stacked" >Find my current location</ion-label>

        <ion-label [disabled]="disabled" slot="end" ><ion-icon class="locator" (click)='locate()'name="locate-outline"></ion-icon></ion-label>
        
        
        <!--<ion-input [ng-bind]="autoAddressbyApi" formControlName="autoAddress" type="text"> </ion-input>-->
      </ion-item >

      <ion-item [disabled]="disabled">
        <ion-label [innerHtml]='autoAddressbyApi' position="stacked" ></ion-label>

      </ion-item>
      

        <ion-item>
          <ion-label id="profile_image" color="primary" stacked>Image</ion-label>
          <ion-input [disabled]="disabled" type="file" accept="image/*" (change)="changeListener($event)" ></ion-input>
        </ion-item>
      
      
        <ion-button [disabled]="disabled" type="submit" expand="block">Update</ion-button>

  
        
      </form>
      
    

     <!--
      <span>
        <ion-item >
         <ion-label >Add Best work</ion-label>
          
        </ion-item>
  
        <ion-item >
        
        <ion-textarea [(ngModel)]='description'  placeholder="Enter your work description"></ion-textarea>
      </ion-item>

        <ion-item>
          <ion-label id="profile_image1" color="primary" stacked>Image</ion-label>
          <ion-input  type="file" accept="image/*" (change)="filechangeListener($event)" ></ion-input>
        </ion-item>
         
        <ion-button (click)="addBestWork()" type="button" expand="block">ADD</ion-button>
      </span>
    -->
    </ion-card-content>
  </ion-card>

</ion-content>
