.avatar{
    margin: auto;
 }

 ion-img
 {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
 }

 .red
 {
   color: red;
 }
 .yellow
 {
   color:#de9e36;
 }
 .blackBold
 {
     font-weight: bold;
     color: black;
 }

 .name
 {
    font-weight: bold;
    color: black;
    font-size: 20px;
 }

 ul
 {
    padding: 1px;
    height: 0em;
    margin-top: 0px;
    margin-left: 7px;
 }
 /****rating****/
 .rating-list li {
   float: right;
   color: #ddd;
   /*padding: 5px 2px;*/
  
 
 }
 
 
 .rating-list li:hover ~ li, .rating-list li.selected {
   color:#FFC300;
 }
 
 .rating-list {
   display: inline-block;
   list-style: none;
 }