<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Customer List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let cuslist of custJsonList"  (click)="viewcuslistDetails(cuslist)" detail>
    <ion-list>
  <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="{{cuslist.user_profile}}">
        </ion-avatar>
        
        <ion-label>
          
          <ion-grid>
            <ion-row>
              <ion-col><div>Name:</div></ion-col>
              <ion-col><div>{{cuslist.user_name}}</div></ion-col>
              
            </ion-row>

            <ion-row>
              <ion-col><div>Category:</div></ion-col>
              <ion-col><div>{{cuslist.user_proffesion}}</div></ion-col>
              
            </ion-row>
            <ion-row>
              <ion-col><div>Mobile:</div></ion-col>
              <ion-col><div>{{cuslist.user_mobile}}</div></ion-col>
              
            </ion-row>
            <ion-row>
              <ion-col><div>Address</div></ion-col>
              <ion-col><div>{{cuslist.user_currentaddress}}</div></ion-col>
              
            </ion-row>
          </ion-grid>
        
        </ion-label>
      </ion-item>

    </ion-list>

  </ion-item>
</ion-content>
