<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Feedback List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let feedback of feedBackList">
    <ion-list>
     <ion-item lines="none">
      
        <ion-label>
          
          <ion-grid>
            <ion-row>
              <ion-col><div>User ID:</div></ion-col>
              <ion-col><div>{{feedback.feedback_userid}}</div></ion-col>
              
            </ion-row>

            <ion-row>
              <ion-col><div>Remarks:</div></ion-col>
              <ion-col><div>{{feedback.feedback_comment}}</div></ion-col>           
            </ion-row>
            
          </ion-grid>
        
        </ion-label>
      </ion-item>

    </ion-list>

  </ion-item>
</ion-content>
