<ion-header>
  <ion-toolbar>
    <ion-title>Validate OTP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="forgotpass">
    <ion-card-header>
     
      <ion-card-title>Validate OTP</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     
      <ion-item>
        <ion-label position="stacked">OTP</ion-label>
        <ion-input [(ngModel)]='otp' type="text"> </ion-input>
      </ion-item>
    
      <ion-button (click)="validateotp()" type="button" expand="block">Validate Otp</ion-button>
   
    
  
    </ion-card-content>
  </ion-card>

</ion-content>
